$white-color: #fff;
$text: #858584;
$input-text: #2b2b2b;

$bg-main: #2b2b2b;
$bg-secondary: #3b3b3b;
$bg-btn: #a259ff;

$border-btn: #9747ff;
$border-input: #858584;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

$success: #0f9960;
$warning: #ff9900;
$error: #ff3737;

$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
$box-shadow-focus: 0 0 0 2px #9747ff;
